<section class="contact">
    <div class="contact-container">
       <img src="./assets/images/mailbox.svg" alt="mailbox">
        <div class="contact-me">
            <div class="me">
                <h1>Let's Chat!</h1>
                <h3>Leave me your contact info below and I'll get back to you as soon as possible.</h3>
            </div>
            <form class="contact_form" (submit)="sendEmail($event)">
                <div class="double-input">
                        <input type="text" name="from_name" id="name" placeholder="Name" required>
                        <input type="email" name="reply_to" id="email" placeholder="Email" required>
                </div>
            
                <textarea name="message" id="message" cols="30" rows="10" style="resize: none;" placeholder="Message" required></textarea><br>
                <button type="submit">Send Message</button>
                <h5>
                    Thank you! Your message has been sent successfully.
                </h5>
            </form>
        </div>
    </div>
</section>
